@import 'sass/reset';
@import 'sass/helpers';

$black: #000000;
$white: #FFFFFF;

@import 'sass/base';
@include html-no-scroll;

body{
}

main{
  background-image: url('mur.png');
  background-size: cover;
  z-index:1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

canvas {
  /*background-image: url('installation-monument-poudre-1_1.png');*/
  position: absolute;

}

canvas#Scene {
  z-index:3;
  background:#0a00a1;
  mix-blend-mode: hard-light;
}

canvas#PostProcessing {
  pointer-events: none;
  z-index:2;
  mix-blend-mode: darken;
}

// Tweakpane hacking
.tp {
  &-dfwv {
    @include easing(300ms, opacity);
    z-index:10;
  }

  body:not(:hover) &-dfwv {
    opacity: 0;
    pointer-events: none;
  }

  &-lblv_l {
    white-space: nowrap;
  }
}

