@import 'sass/reset';
@import 'sass/helpers';

$black: #000000;
$white: #FFFFFF;

@import 'sass/base';
@include html-no-scroll;

canvas {
  position: absolute;
}

canvas#Scene {
  background: #0a00a1;
}

canvas#PostProcessing {
  pointer-events: none;
  opacity: 1;
}

// Tweakpane hacking
.tp {
  &-dfwv {
    @include easing(300ms, opacity);
  }

  body:not(:hover) &-dfwv {
    opacity: 0;
    pointer-events: none;
  }

  &-lblv_l {
    white-space: nowrap;
  }
}

